/* css는 조상에 적용된 css가 있고, 자식이 덮어씌우는것.
html에 적용된 속성이 있으면 그 밑에 div가 덮어씌우고..그렇게 덮어씌워진다.
*/


*{
    box-sizing: border-box;
}

#header_center{
    width:1130px;
    /* 본인의 화면 해상도에 따라서 상대적인 값이다. 내화면:1920px */
    margin:0 auto;
}



/* 자식 태그 선택하기 
' > ' 이걸 이용하면 해당 태그의 자식까지 선택할수 있습니다.
*/
/* 네이버로고 */
.header_search {
    /* position: relative; */
    top: 10%;
    left: -9px;
    margin-top: 32px;
}

.header_search > h1{
 /* position: 0 130px; */
 margin: 0 0;
 width:222px;
}

/* 메인  네이버 로고 */
.header_logo{
    width:222px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_4efc7a.png);  /* 파일경로 또는 이미지 주소*/
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat; /* default가 repeat 임 그래서 빈공간이있으면 반복됨.*/
    vertical-align: top;
    content: '';
    background-size: 440px 408px;
    /* z-index: 1; */
    text-decoration: none;  /* <a>를 사용하면 밑줄이 쳐질수도 있음 밑줄 없애기 위해 적용 */
    position: relative;
    bottom:5px;
}

/* 자손 태그 선택하기 
한 칸 띄우면 자손들(자식의 자식들..) 태그들이  다선택 가능합니다.
*/

/* #header_search  h1{
 width:222px; 
} */

/* 시각장애인용 스크린리더
display:none하면 스크린리더에도 안읽히기때문에 꼼수를 넣은 것.
*/
.blind{
    /* 네이버에서 가져온 css 입니다. */
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
     /* text-indent: 100%;  text-indent : 글자 들여쓰기 */
}

/* 검색창 fieldset */
#search_window{
    display: inline-block;  /*  높이와 너비 지정 가능*/
    position: relative;  /* position:relative여야 하위에있는 버튼 position을 설정할 수 있다. */
    height: 55px;
    width: 586px;
    border: 2px solid #19ce60; /* hex color 표기법 */
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding:10px  12px ;
    margin-left: 20px;
/* box sizing 하기 쉽게 전체크기 다 합친걸 보게끔 설정 변경함.(default:content-box */

}

/* 검색 인풋창 */
.input_text{
    border:none;
    /* 클릭하면 나오는 테두리 button,input에 적용되어있음 :outline */
    outline: 0;
    width:444px;
    height:24px;
    line-height: 24px;
    margin:1px;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    vertical-align: top;
    /* display: inline-block; */
    position:relative;
}

/* 검색 버튼 */
.search_btn{
    width:56px;
    height:54px;
    background-color:#19ce60;
    border-radius:0 2px 2px 0;
    cursor:pointer;
    border:none;
    padding:0;
    position:absolute;
    top:-1px;
    right:0;
}
/* 검색 버튼 안의 돋보기 이미지 */
.ico_search_submit{
 background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_4efc7a.png);
 background-size:440px 408px;
 background-position: 0 -386px;
 background-repeat:no-repeat;
 width:22px;
 height:22px;
 display: inline-block;
}

